.card-columns .card {
  margin-bottom: 1rem;
}

.listfeaturedtag h2.card-title,
.listrecent h2.card-title {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.25;
}

.listfeaturedtag h2.card-title a,
.listrecent h2.card-title a {
  color: rgba(0,0,0,.8);
}

.listfeaturedtag h2.card-title a:hover,
.listrecent h2.card-title a:hover {
  color: rgba(0,0,0,.6);
  text-decoration: none;
}

.listfeaturedtag h4.card-text,
.listrecent h4.card-text {
  color: rgba(0,0,0,.44);
  font-size: 0.95rem;
  line-height: 1.4;
  font-weight: 400;
}

.card {
	border-radius:4px;
}
.card .img-thumb {
	border-top-right-radius:4px;
	border-top-left-radius:4px;
}
