a,a:hover {
	transition:all 0.2s;
}

.mainheading {
	padding:1rem 0rem;
}

section {
	margin-bottom: 1rem;
}

.section-title h2 {
	border-bottom: 1px solid rgba(0,0,0,.15);
	font-weight: 700;
	font-size: 1.4rem;
	margin-bottom: 1.5rem;
}

.section-title span {
	border-bottom: 1px solid rgba(0,0,0,.44);
	display: inline-block;
	padding-bottom: 1rem;
	margin-bottom: -1px;
}

.listrecent .wrapfooter {
	font-size:12px;
	margin-top:30px;
}

.svgIcon {
	vertical-align: middle;
}
